:root {
   /* Background Variables */
   --background-image: url("/./assets/media/background/full-red.png"); /* Background Image */
   --backdrop-filter: blur(10px) brightness(80%); /* Nav Backdrop filter */
   --background-nav: rgba(255, 255, 255, 0.02); /* Nav Background */
   --background-color: #2a1a1a; /* Main Background Color */
   --background-input: #4a2d2d9e; /* Input Field Background Color */
   --background-column: #331f1f; /* Background for Apps Container */
   --background-color-secondary: #3d2626; /* Secondary Background Color */
   --background-settings: #2e1e1e; /* Settings Card Background */
   --background-buttons: #3d2626; /* Button Background Color */
   --tab-active-background: #4a2d2d; /* Accent Color for Tabs */
   --tab-inactive-background: ; /* Background Color for Tabs Not In Use */
   --slider-active-background: #F60A11; /* Active Slider Background Color (Red) */
   --slider-inactive-background: #ccc; /*  Slider Background Color */
   --nav-image: url("/./assets/media/favicon/main.png"); /* Nav Logo */
   /* Text Variables */
   --text-primary: #fff; /* Primary Text Color */
   --text-dark: #555; /* Dark Text Color for Error Page, Scrollbar, and Particles */
   --text-placeholder: #aaa; /* Placeholder Text Color */
   /* Other Variables */
   --tab-hover: #3d2626; /* Tab Color on Hover */
   --particle-color: #F60A11; /* Particle System Color (Red) */
   --theme-preview-color: #F60A11; /* Theme Preview Color */
   /* Scrollbar Variables */
   --scrollbar-thumb: #F60A11; /* Scrollbar Thumb Color */
   --scrollbar-thumb-hover: #d6090f; /* Scrollbar Thumb Hover Color */
   --scrollbar-track: #2a1a1a; /* Scrollbar Track Color */
}
