:root {
   /* Background Variables */
   --background-image: url("/./assets/media/background/full-lightblue.png"); /* Background Image */
   --backdrop-filter: blur(10px) brightness(80%); /* Nav Backdrop filter */
   --background-nav: rgba(255, 255, 255, 0.02); /* Nav Background */
   --background-color: #1a1f2a; /* Main Background Color */
   --background-input: #2d334a9e; /* Input Field Background Color */
   --background-column: #1f2333; /* Background for Apps Container */
   --background-color-secondary: #262b3d; /* Secondary Background Color */
   --background-settings: #1e212e; /* Settings Card Background */
   --background-buttons: #262b3d; /* Button Background Color */
   --tab-active-background: #2d334a; /* Accent Color for Tabs */
   --tab-inactive-background: ; /* Background Color for Tabs Not In Use */
   --slider-active-background: #019DEA; /* Active Slider Background Color (Blue) */
   --slider-inactive-background: #ccc; /*  Slider Background Color */
   --nav-image: url("/./assets/media/favicon/main.png"); /* Nav Logo */
   /* Text Variables */
   --text-primary: #fff; /* Primary Text Color */
   --text-dark: #555; /* Dark Text Color for Error Page, Scrollbar, and Particles */
   --text-placeholder: #aaa; /* Placeholder Text Color */
   /* Other Variables */
   --tab-hover: #262b3d; /* Tab Color on Hover */
   --particle-color: #019DEA; /* Particle System Color (Blue) */
   --theme-preview-color: #019DEA; /* Theme Preview Color */
   /* Scrollbar Variables */
   --scrollbar-thumb: #019DEA; /* Scrollbar Thumb Color */
   --scrollbar-thumb-hover: #0085d6; /* Scrollbar Thumb Hover Color */
   --scrollbar-track: #1a1f2a; /* Scrollbar Track Color */
}
